.idea/
*.exe
resources/novusorbis.wav
novusorbis/goals.txt
resources/Novus Orbis.mp3
resources/Novus.aup
resources/Novus.wav
resources/NovusWithMusic.aup
resources/NovusWithMusic.wav
resources/NovusWithMusicShort.aup
resources/NovusWithMusicShort.wav
resources/NovusWithMusicShort_data/e00/d00/e000028f.au
resources/NovusWithMusicShort_data/e00/d00/e0000317.au
resources/NovusWithMusicShort_data/e00/d00/e000059c.au
resources/NovusWithMusicShort_data/e00/d00/e000099e.au
resources/NovusWithMusicShort_data/e00/d00/e0000c35.au
resources/NovusWithMusicShort_data/e00/d00/e0000e75.au
resources/NovusWithMusic_data/e00/d00/e000015b.au
resources/NovusWithMusic_data/e00/d00/e000021e.au
resources/NovusWithMusic_data/e00/d00/e0000291.au
resources/NovusWithMusic_data/e00/d00/e000059c.au
resources/NovusWithMusic_data/e00/d00/e000075a.au
resources/NovusWithMusic_data/e00/d00/e0000b64.au
resources/NovusWithMusic_data/e00/d00/e0000c35.au
resources/NovusWithMusic_data/e00/d00/e0000c50.au
resources/NovusWithMusic_data/e00/d00/e0000d0a.au
resources/NovusWithMusic_data/e00/d00/e0000e0c.au
resources/Novus_data/e00/d00/e0000037.au
resources/Novus_data/e00/d00/e0000753.au
resources/Novus_data/e00/d00/e000075f.au
resources/Novus_data/e00/d00/e0000f31.au
resources/Orbis.wav
